BAD_WORDS = ['BAD_WORDS1', 'BAD_WORDS2', 'BAD_WORDS3', 'BAD_WORDS4']
ADMIN_TOKEN = 'a6d30ac240300caecf1b1fabeead75600999a530'
PROD_URL = 'https://api.amity.co/api'
API_KEY = 'b0ede9583e88f9364d34de1a5a00158dd50e8ee5b934692f'