BAD_WORDS = ['BAD_WORDS1', 'BAD_WORDS2', 'BAD_WORDS3', 'BAD_WORDS4']
ADMIN_TOKEN = 'a6d30ac240300caecf1b1fabeead75600999a530'
PROD_URL = 'https://api.amity.co/api'
X_API_KEY = 'b0ede9583e88f9364d34de1a5a00158dd50e8ee5b934692f'

# firestore

API_KEY='AIzaSyCRWqSL0y2fl7DicS3i0Vz6prB2S9-Pvms'
AUTH_DOMAIN='function-firebase-33727.firebaseapp.com'
PROJECT_ID='function-firebase-33727'
STORAGE_BUCKET='function-firebase-33727.appspot.com'
MESSAGING_SENDER_ID='944382958523'
APP_ID='1:944382958523:web:38d9aab57382baa8ac029e'
MEASUREMENTID='G-2BPM2KLJZJ'
DATABASE_URL=
